h2{
    
    color:rgb(153, 30, 210);
}
h4{
    background-color:rgb(146, 196, 59) !important;
}
#ptag{
    background-color: burlywood;

}
.class3 p{
    background-color: darkgreen;
    color: black;
}